<div class="flex" style="margin: 5vh 0;">
    <mat-card>

        <mat-card-content>
            <h2 *ngFor="let title of titles; index as i" [ngSwitch]="isObject(values[i])">
                {{title | uppercase}}
                <h3 *ngSwitchCase="true">{{toString(values[i])}}</h3>
                <h3 *ngSwitchCase="false">{{values[i]}}</h3>

            </h2>
            <button color="accent" (click)="$event.preventDefault(); logout();" mat-raised-button>LogOut</button>
        </mat-card-content>
    </mat-card>

</div>